/* General */

* {
    font-family: 'Rubik', sans-serif;
}

:root {
    --main-color: #2e9e5b;
    --secondary-color: #fdb82c;
    --third-color: #99999983;
    --fourth-color-backgound: #fafafa;
}

/* Nav */

#square-navbar {
    background-color: white;
    -webkit-box-shadow: 1px 4px 7px 1px var(--third-color);
    box-shadow: 1px 4px 15px 1px var(--third-color);
    padding: 20px 0px;   
}

.btn-main {
    background-color: var(--main-color);
    color: #ffffff;
    padding: 11.2px 18px;
}

.btn-main:hover {
    color: #ffffff;
}

#square-navbar .nav-link {
    color: black;
    margin: 11.2px 20px;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: inline-block;
}

#square-navbar .nav-link:hover {
    color: var(--main-color);
    transform: scale(1.1);
    border-bottom: 3px solid var(--main-color);
}

#square-navbar .navbar-toggler:focus {
    box-shadow: none;
}


/* Masthead */

.masthead {
    height: 100vh;
    background: linear-gradient(#00000057, #00000057),  url(./img/bg_1.jpg);
    background-size: cover;
    background-position: center;
}

.btn-glass {
    color: #ffffff;
    border: solid 2px rgba(255, 255, 255, 0.556);
}


/* Section cards */

.bg-light-gray {
    background-color: var(--fourth-color-backgound);
}

.tc-linear {
    background: linear-gradient(45deg, var(--main-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tc-gray {
    color: var(--third-color);
}

.info-section {
    position: relative;
    top: -200px;
}

/* About */

.bg-about-section {
    background: linear-gradient(#00000057, #00000057),  url(./img/about.jpg);
    background-size: cover;
    background-position: center;
}

.square-input {
    background-color: transparent;
    border: none;
    color: #ffffff;
    border-bottom: solid 1px white;
    padding: 10px 20px;
}

.square-input:focus {
   outline: none;
}

.btn-about {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 10px 20px;
    transition: all 0.5;
}

.btn-about:hover {
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}

.tc-main {
    color: var(--main-color);
}

.about-card {
    padding: 40px;
}

/* Project section */

.project-card .frame-img {
    overflow: hidden;
    position: relative;
}

.project-card img {
    transition: 0.5s;
}

.project-card:hover img {
    transform: scale(1.2);
}

.project-card:hover .btn-show-project {
    opacity: 1;
}

.btn-show-project {
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 1;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    opacity: 0;
    transition: 0.5s;
}